.background {
  background: rgb(203, 179, 213);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.App {
  text-align: center;
  margin-top: 2rem;
}

.color-picker {
  display: inline-block;
  text-align: center;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.selected-color {
  margin-top: 10px;
}

.color-swatch {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
}
